---
import '../css/main.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<meta name="title" content="Heaton Social – Expert Cocktails & Warm Hospitality in Heaton Moor">
		<meta name="description" content="Enjoy handcrafted cocktails, fine wines, and craft beers in a welcoming Heaton Moor setting. Reserve a table today for a great night out.">
		<meta name="keywords" content="cocktail bar Heaton Moor, best cocktails Heaton, Heaton Social, craft cocktails, mixology Heaton Moor, gin bar, wine bar Heaton Moor, craft beer, nightlife Manchester, cocktail tasting, bars in Heaton Moor, reserve a table">

		<meta property="og:title" content="Heaton Social – Expert Cocktails & Warm Hospitality in Heaton Moor">
		<meta property="og:description" content="Enjoy expertly crafted cocktails, fine wines, and craft beers in a welcoming Heaton Moor setting. Book a table today.">
		<!--<meta property="og:image" content="URL_TO_YOUR_FEATURED_IMAGE">-->
		<meta property="og:url" content="https://heatonsocial.com">
		<meta property="og:type" content="website">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Heaton Social – Expert Cocktails & Warm Hospitality">
		<meta name="twitter:description" content="Expertly crafted cocktails, fine wines, and craft beers in the heart of Heaton Moor.">
		<!--<meta name="twitter:image" content="URL_TO_YOUR_FEATURED_IMAGE">-->

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
